# COVID 19 전세계 나라별 확진자 변화 추이 

기본적으로 데이터 시각화를 위해 flourish 사용  
[flourish 웹페이지 주소](https://app.flourish.studio/projects)  
[국가별 국기 파일 자료 주소](https://www.countryflags.io/)

## 해당하는 일부 파일들로 연습 먼저 진행

In [74]:
import pandas as pd
PATH = "COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/"
data_0122 = pd.read_csv(PATH+"01-22-2020.csv",encoding='utf-8-sig')
data_0401 = pd.read_csv(PATH+"04-01-2020.csv",encoding='utf-8-sig')

1. 현재 국가별 COVID19 확진자 변화 추이를 분석할 것이기 때문에 나라이름, 확진자 수, 사망자 수 세 가지만 뽑아내보자  
   0401 파일의 경우와 0122 파일의 경우에 국가를 나라내는 컬럼명이 다르기 때문에 그 부분까지 설정을 해준다 
   

2. Confirmed 컬럼 값은 dropna를 통해 NaN 인 행을 모두 삭제해주고 정수형으로 변환 시킨다 


3. Deaths 컬럼 값은 NaN 값을 0으로 채워주고 정수형으로 변환 시킨다

In [75]:
try:
    data_0122 = data_0122[['Province_State','Country_Region','Confirmed','Deaths']]
except:
    data_0122 = data_0122[['Province/State','Country/Region','Confirmed','Deaths']]
    data_0122.columns = ['Province_State','Country_Region','Confirmed','Deaths']
    data_0401 = data_0401[['Province_State','Country_Region','Confirmed','Deaths']]
    
data_0122 = data_0122.dropna(subset=['Confirmed']) 
data_0401 = data_0401.dropna(subset=['Confirmed'])

nan_data = {'Deaths': 0 }
data_0122 =  data_0122.fillna(nan_data)

data_0122 = data_0122.astype({'Confirmed':'int64','Deaths':'int64'})
data_0401 = data_0401.astype({'Confirmed':'int64'})

In [65]:
data_0401

      Province_State      Country_Region  Confirmed  Deaths
0     South Carolina                  US          4       0
1          Louisiana                  US         47       1
2           Virginia                  US          7       0
3              Idaho                  US        195       3
4               Iowa                  US          1       0
...              ...                 ...        ...     ...
2478             NaN           Venezuela        143       3
2479             NaN             Vietnam        218       0
2480             NaN  West Bank and Gaza        134       1
2481             NaN              Zambia         36       0
2482             NaN            Zimbabwe          8       1

[2483 rows x 4 columns]

In [66]:
data_0122

   Province_State  Country_Region  Confirmed  Deaths
0           Anhui  Mainland China          1       0
1         Beijing  Mainland China         14       0
2       Chongqing  Mainland China          6       0
3          Fujian  Mainland China          1       0
5       Guangdong  Mainland China         26       0
6         Guangxi  Mainland China          2       0
7         Guizhou  Mainland China          1       0
8          Hainan  Mainland China          4       0
9           Hebei  Mainland China          1       0
11          Henan  Mainland China          5       0
13          Hubei  Mainland China        444      17
14          Hunan  Mainland China          4       0
16        Jiangsu  Mainland China          1       0
17        Jiangxi  Mainland China          2       0
19       Liaoning  Mainland China          2       0
20          Macau           Macau          1       0
21        Ningxia  Mainland China          1       0
24       Shandong  Mainland China          2       0
25       Shanghai  Mainland China          9       0
26         Shanxi  Mainland China          1       0
27        Sichuan  Mainland China          5       0
28         Taiwan          Taiwan          1       0
29        Tianjin  Mainland China          4       0
31     Washington              US          1       0
33         Yunnan  Mainland China          1       0
34       Zhejiang  Mainland China         10       0
35            NaN           Japan          2       0
36            NaN        Thailand          2       0
37            NaN     South Korea          1       0

아래는 국가 정보에 관련한 데이터 파일 가져오기  


가져오는 이유는 해당 파일에 Country_Region 과 그에 해당하는 국가별 이니셜이 iso2 에 들어가 있기 때문에  
이를 통해 매칭 시켜서 추후에 국기 이미지 파일 사용을 위해서!

In [76]:
country_info = pd.read_csv("COVID-19-master/csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv",encoding='utf-8-sig')

country_info

,Unnamed: 0,Unnamed: 0.1,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key
0,0,0,NaN,BW,NaN,NaN,NaN,NaN,NaN,Botswana,NaN,NaN,Botswana
1,1,1,NaN,BI,NaN,NaN,NaN,NaN,NaN,Burundi,NaN,NaN,Burundi
2,2,2,NaN,SL,NaN,NaN,NaN,NaN,NaN,Sierra Leone,NaN,NaN,Sierra Leone
3,3,3,4.0,AF,AFG,4.0,NaN,NaN,NaN,Afghanistan,33.939110,67.709953,Afghanistan
4,4,4,8.0,AL,ALB,8.0,NaN,NaN,NaN,Albania,41.153300,20.168300,Albania
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3555,3555,3555,84056037.0,US,USA,840.0,56037.0,Sweetwater,Wyoming,US,41.659439,-108.882788,"Sweetwater, Wyoming, US"
3556,3556,3556,84056039.0,US,USA,840.0,56039.0,Teton,Wyoming,US,43.935225,-110.589080,"Teton, Wyoming, US"
3557,3557,3557,84056041.0,US,USA,840.0,56041.0,Uinta,Wyoming,US,41.287818,-110.547578,"Uinta, Wyoming, US"
3558,3558,3558,84056043.0,US,USA,840.0,56043.0,Washakie,Wyoming,US,43.904516,-107.680187,"Washakie, Wyoming, US"
3559,3559,3559,84056045.0,US,USA,840.0,56045.0,Weston,Wyoming,US,43.839612,-104.567488,"Weston, Wyoming, US"

0122 파일과 국가 정보 파일을 left merge 한다  
0122 파일의 Country_Region 컬럼 값과 동일한 값을 가진 국가 정보가 매칭된다  


아래 코드를 통해 우리가 알고자 하는 iso2가 NaN인 갯수를 알 수 있다

In [77]:
data_0122_merge = pd.merge(data_0122,country_info,how='left',on='Country_Region')
data_0122_merge.isnull().sum()

Province_State_x      3
Country_Region        0
Confirmed             0
Deaths                0
Unnamed: 0           25
Unnamed: 0.1         25
UID                  25
iso2                 25
iso3                 25
code3                25
FIPS                 31
Admin2               87
Province_State_y     28
Lat                 130
Long_               130
Combined_Key         25
dtype: int64

In [78]:
data_0122_merge

,Province_State_x,Country_Region,Confirmed,Deaths,Unnamed: 0,Unnamed: 0.1,UID,iso2,iso3,code3,FIPS,Admin2,Province_State_y,Lat,Long_,Combined_Key
0,Anhui,Mainland China,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Beijing,Mainland China,14,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Chongqing,Mainland China,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fujian,Mainland China,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Guangdong,Mainland China,26,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,Yunnan,Mainland China,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3329,Zhejiang,Mainland China,10,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3330,NaN,Japan,2,0,84.0,84.0,392.0,JP,JPN,392.0,NaN,NaN,NaN,36.204824,138.252924,Japan
3331,NaN,Thailand,2,0,159.0,159.0,764.0,TH,THA,764.0,NaN,NaN,NaN,15.870032,100.992541,Thailand
3332,NaN,South Korea,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

NaN인 갯수가 25개가 있는데 어떤 행 들인지 확인해 보자  
대부분이 Mainland China 와 다른 값들에 의해 left merge를 할 때 Country_Region 이 맞지 않아서 발생하는 문제인데  
이유는 China 라는 국가의 이름이 여러 다른 명칭으로 데이터가 저장 되어 있기 때문이다

In [81]:
iso2_nan = data_0122_merge[data_0122_merge['iso2'].isnull()]
iso2_nan.head()

,Province_State_x,Country_Region,Confirmed,Deaths,Unnamed: 0,Unnamed: 0.1,UID,iso2,iso3,code3,FIPS,Admin2,Province_State_y,Lat,Long_,Combined_Key
0,Anhui,Mainland China,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Beijing,Mainland China,14,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Chongqing,Mainland China,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fujian,Mainland China,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Guangdong,Mainland China,26,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

그럼 이제 여러 다른 명칭으로 된 국가명을 정해진 하나의 국가명으로 바꿔보자  
이 때, 이미 만들어져 있는 json 파일을 가져온다

In [82]:
import json

with open('COVID-19-master/csse_covid_19_data/country_convert.json', 'r', encoding='utf-8-sig') as json_file:
    json_data = json.load(json_file)
    print (json_data.keys())

dict_keys(['Mainland China', 'Macau', 'South Korea', 'Aruba', ' Azerbaijan', 'Bahamas, The', 'Cape Verde', 'Cayman Islands', 'Channel Islands', 'Curacao', 'Czech Republic', 'East Timor', 'Faroe Islands', 'French Guiana', 'Gambia, The', 'Gibraltar', 'Greenland', 'Guadeloupe', 'Guam', 'Guernsey', 'Hong Kong', 'Hong Kong SAR', 'Iran (Islamic Republic of)', 'Ivory Coast', 'Jersey', 'Macao SAR', 'Martinique', 'Mayotte', 'North Ireland', 'Palestine', 'Puerto Rico', 'Republic of Ireland', 'Republic of Korea', 'Republic of Moldova', 'Republic of the Congo', 'Reunion', 'Russian Federation', 'Saint Barthelemy', 'Saint Martin', 'St. Martin', 'Taipei and environs', 'The Bahamas', 'The Gambia', 'UK', 'Vatican City', 'Viet Nam', 'occupied Palestinian territory', 'Taiwan*', 'Malawi', 'South Sudan', 'Western Sahara', 'Namibia'])

이제 해당 json 파일을 이용해서 01/22 코로나 현황 파일에서 Country_Region 값을 가져와서   
json 파일의 keys 값에 해당이 되면 같은 파일의 value 로 변경을 해주면 된다
컬럼 값을 변경 할 때는 apply() 라는 것을 이용하자

## apply() 복습 

* 쉽게 말해서 행 혹은 열 단위를 정해서 그 갯수 만큼 함수로 하나씩 넘겨주어서 함수를 실행하는 형태

In [86]:
df = pd.DataFrame({
    '영어': [60, 70],
    '수학': [100, 50]
}, index = ['Dave', 'David'])
print(df)

def func(df_data):
    df_data['영어'] = 80
    return df_data

df_func = df.apply(func, axis=1) # 1이면 행 단위 0이면 열 단위


print(df_func)

       영어   수학
Dave   60  100
David  70   50
       영어   수학
Dave   80  100
David  80   50

In [89]:
def match_country_json(row):
    if row['Country_Region'] in json_data:  # A in B : A 값이 B값에 있으면 
        row['Country_Region'] = json_data[row['Country_Region']] # dict 형태에서 각 값에 접근하려면 Key로 가능
    return row

In [90]:
data_0122 = data_0122.apply(match_country_json,axis=1)
data_0122

   Province_State Country_Region  Confirmed  Deaths
0           Anhui          China          1       0
1         Beijing          China         14       0
2       Chongqing          China          6       0
3          Fujian          China          1       0
5       Guangdong          China         26       0
6         Guangxi          China          2       0
7         Guizhou          China          1       0
8          Hainan          China          4       0
9           Hebei          China          1       0
11          Henan          China          5       0
13          Hubei          China        444      17
14          Hunan          China          4       0
16        Jiangsu          China          1       0
17        Jiangxi          China          2       0
19       Liaoning          China          2       0
20          Macau          China          1       0
21        Ningxia          China          1       0
24       Shandong          China          2       0
25       Shanghai          China          9       0
26         Shanxi          China          1       0
27        Sichuan          China          5       0
28         Taiwan         Taiwan          1       0
29        Tianjin          China          4       0
31     Washington             US          1       0
33         Yunnan          China          1       0
34       Zhejiang          China         10       0
35            NaN          Japan          2       0
36            NaN       Thailand          2       0
37            NaN   Korea, South          1       0

이번에는 각 나라별로 여러 주에 관한 데이터가 있지만 같은 나라이므로 나라 기준으로 묶어 줘야 한다  
그 때 사용하는 것이 groupby() 이며 일반적으로 sum , mean 과 함께 쓴다  
단, 쓸 때 숫자는 계산되지만 문자열은 자동으로 사라진다

In [96]:
data_0122.groupby(['Country_Region']).sum()

                Confirmed  Deaths
Country_Region
China                 548      17
Japan                   2       0
Korea, South            1       0
Taiwan                  1       0
Thailand                2       0
US                      1       0

## 여기까지 과정을 모든 파일들에 적용 할 수 있게 정리해서 함수를 구성해보자

In [125]:
# 최종코드 1

import pandas as pd
import json 

with open('COVID-19-master/csse_covid_19_data/country_convert.json', 'r', encoding='utf-8-sig') as json_file:
    json_data = json.load(json_file)
    
def change_countryName(row):
    if row['Country_Region'] in json_data:
        return json_data[row['Country_Region']]
    return row['Country_Region']

def create_dataframe(filename):
    #PATH = "COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/"
    dataframe = pd.read_csv(PATH + filename,encoding='utf-8-sig')
    
    try:
        dataframe = dataframe[['Country_Region','Confirmed']]
    except:
        dataframe= dataframe[['Country/Region','Confirmed']]
        dataframe.columns = ['Country_Region','Confirmed']
    
    dataframe= dataframe.dropna(subset=['Confirmed'])
    
    dataframe['Country_Region'] = dataframe.apply(change_countryName,axis=1)

    dataframe = dataframe.astype({'Confirmed':'int64'})
    
    dataframe = dataframe.groupby(['Country_Region']).sum()
    
    change_date = filename.split(".")[0].lstrip('0').replace('-', '/') 
    dataframe.columns = [change_date]
    
    return dataframe

위 코드를 기반으로 임의의 파일을 가져와서 merge 해서 확인 해보자

In [2]:
doc1 = create_dataframe("01-22-2020.csv")
doc2 = create_dataframe("04-01-2020.csv")

data_merge = pd.merge(doc1,doc2,how='outer',left_index=True,right_index=True)
data_merge = data_merge.fillna(0)
data_merge = data_merge.astype('int64')
data_merge

                   1/22/2020 4/01/2020
Country_Region
Afghanistan                0       237
Albania                    0       259
Algeria                    0       847
Andorra                    0       390
Angola                     0         8
...                      ...       ...
Venezuela                  0       143
Vietnam                    0       218
West Bank and Gaza         0       134
Zambia                     0        36
Zimbabwe                   0         8

[180 rows x 2 columns]

이제 데이터들을 가진 모든 .csv 파일에 create_dataframe 함수를 적용 시켜주면 된다  
os 라이브러리의 listdir 함수로 해당 경로 안의 파일들을 전부 가져온다  
앞서서 파일을 merge 했던 것처럼 list에 넣어둔 파일을 하나씩 전부 merge 시킨다

In [126]:
# 최종코드 2

import os

PATH = 'COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports/'
total_list,csv_list = os.listdir(PATH),list() 
first_file = True

for file in total_list:
    if file.split(".")[-1] == 'csv':
        csv_list.append(file)

csv_list.sort()

for file_merge in csv_list:
    temp_file = create_dataframe(file_merge)
    if first_file:
        final_file, first_file = temp_file,False
    else:
        final_file = pd.merge(final_file,temp_file,how='outer',left_index=True, right_index=True)

final_file = final_file.fillna(0)

final_file = final_file.astype('int64')

final_file

,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,...,6/08/2020,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020
Country_Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,20917,21459,22142,22890,23546,24102,24766,25527,26310,26874
Albania,0,0,0,0,0,0,0,0,0,0,...,1263,1299,1341,1385,1416,1464,1521,1590,1672,1722
Algeria,0,0,0,0,0,0,0,0,0,0,...,10265,10382,10484,10589,10698,10810,10919,11031,11147,11268
Andorra,0,0,0,0,0,0,0,0,0,0,...,852,852,852,852,853,853,853,853,854,854
Angola,0,0,0,0,0,0,0,0,0,0,...,92,96,113,118,130,138,140,142,148,155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,0,2,2,2,2,2,2,2,2,2,...,332,332,332,332,333,334,334,334,334,335
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,473,481,485,487,489,489,492,505,514,555
Yemen,0,0,0,0,0,0,0,0,0,0,...,496,524,560,591,632,705,728,844,885,902
Zambia,0,0,0,0,0,0,0,0,0,0,...,1200,1200,1200,1200,1321,1357,1358,1382,1405,1412
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,287,314,320,332,343,356,383,387,391,401

### 시각화를 위해 Dataframe 형태 맞춰주기 
가장 상단에 있는 링크를 확인 해보면 국가별 국기 이미지를 사용하려면 국가명을 이니셜로  
설정 해두어야 한다. 이 때, 앞서 사용했던 'UID_ISO_FIPS_LookUp_Table.csv' 파일을 이용해서 final_file 의 국가명과 이니셜을  
매칭 시켜준다. 


단, 이 때 특정 국가의 이니셜이 NA 형태라면 결측치로 인식되기 때문에 이 부분은 따로 처리를 해주자

read_csv 함수의 속성 설정을 해보자

- keep_default_na=False : 디폴트 결측치 변환 데이터를 사용하지 않고, na_values로 지정한 데이터만 결측치로 변환
- na_values='' : 결측치로 변환할 값을 지정

In [127]:
# 국가 정보 파일에 특정 조건 붙여서 가져오기 
country_info = pd.read_csv("COVID-19-master/csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv", encoding='utf-8-sig', keep_default_na=False, na_values='')

# 필요한 컬럼만 가져오기 
country_info = country_info[['iso2','Country_Region']]

# 중복되는 것들은 필요없으니 중복 제거하기 
country_info = country_info.drop_duplicates(['Country_Region'],keep='last')

country_info

     iso2  Country_Region
0      BW        Botswana
1      BI         Burundi
2      SL    Sierra Leone
3      AF     Afghanistan
4      AL         Albania
...   ...             ...
198    TC  United Kingdom
206    AU       Australia
221    CA          Canada
254    CN           China
3559   US              US

[180 rows x 2 columns]

모든 국가명과 국가 이니셜을 구성해두었으니 이제 final_file 과 merge 시켜보자

In [128]:
covid19_confirmed = pd.merge(final_file, country_info, how='left', on='Country_Region')
covid19_confirmed

,Country_Region,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020,iso2
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,21459,22142,22890,23546,24102,24766,25527,26310,26874,AF
1,Albania,0,0,0,0,0,0,0,0,0,...,1299,1341,1385,1416,1464,1521,1590,1672,1722,AL
2,Algeria,0,0,0,0,0,0,0,0,0,...,10382,10484,10589,10698,10810,10919,11031,11147,11268,DZ
3,Andorra,0,0,0,0,0,0,0,0,0,...,852,852,852,853,853,853,853,854,854,AD
4,Angola,0,0,0,0,0,0,0,0,0,...,96,113,118,130,138,140,142,148,155,AO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,Vietnam,0,2,2,2,2,2,2,2,2,...,332,332,332,333,334,334,334,334,335,VN
183,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,481,485,487,489,489,492,505,514,555,PS
184,Yemen,0,0,0,0,0,0,0,0,0,...,524,560,591,632,705,728,844,885,902,NaN
185,Zambia,0,0,0,0,0,0,0,0,0,...,1200,1200,1200,1321,1357,1358,1382,1405,1412,ZM
186,Zimbabwe,0,0,0,0,0,0,0,0,0,...,314,320,332,343,356,383,387,391,401,ZW

그 다음에 나온 결과물에서 iso2가 NaN 으로 구성되어 출처를 알 수 없는 부분들을 삭제 해준다

In [129]:
covid19_confirmed.isnull().sum()
covid19_confirmed = covid19_confirmed.dropna(subset=['iso2'])
covid19_confirmed

,Country_Region,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020,iso2
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,21459,22142,22890,23546,24102,24766,25527,26310,26874,AF
1,Albania,0,0,0,0,0,0,0,0,0,...,1299,1341,1385,1416,1464,1521,1590,1672,1722,AL
2,Algeria,0,0,0,0,0,0,0,0,0,...,10382,10484,10589,10698,10810,10919,11031,11147,11268,DZ
3,Andorra,0,0,0,0,0,0,0,0,0,...,852,852,852,853,853,853,853,854,854,AD
4,Angola,0,0,0,0,0,0,0,0,0,...,96,113,118,130,138,140,142,148,155,AO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,Venezuela,0,0,0,0,0,0,0,0,0,...,2632,2738,2814,2879,2904,2978,3062,3150,3386,VE
182,Vietnam,0,2,2,2,2,2,2,2,2,...,332,332,332,333,334,334,334,334,335,VN
183,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,481,485,487,489,489,492,505,514,555,PS
185,Zambia,0,0,0,0,0,0,0,0,0,...,1200,1200,1200,1321,1357,1358,1382,1405,1412,ZM
186,Zimbabwe,0,0,0,0,0,0,0,0,0,...,314,320,332,343,356,383,387,391,401,ZW

이번에는 상단에 있는 '국가별 국기 파일 주소'에 들어가서 국기 이미지를 가져오기 위한 URL 주소를 찾아낸 뒤  
국기 이니셜 대신 해당 주소를 넣어준다

In [130]:
def create_flagURL(row):
    flag_url = 'https://www.countryflags.io/' + row + '/flat/64.png'
    return flag_url

covid19_confirmed['iso2'] = covid19_confirmed['iso2'].apply(create_flagURL)

covid19_confirmed

<ipython-input-130-88539595a903>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid19_confirmed['iso2'] = covid19_confirmed['iso2'].apply(create_flagURL)

,Country_Region,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020,iso2
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,21459,22142,22890,23546,24102,24766,25527,26310,26874,https://www.countryflags.io/AF/flat/64.png
1,Albania,0,0,0,0,0,0,0,0,0,...,1299,1341,1385,1416,1464,1521,1590,1672,1722,https://www.countryflags.io/AL/flat/64.png
2,Algeria,0,0,0,0,0,0,0,0,0,...,10382,10484,10589,10698,10810,10919,11031,11147,11268,https://www.countryflags.io/DZ/flat/64.png
3,Andorra,0,0,0,0,0,0,0,0,0,...,852,852,852,853,853,853,853,854,854,https://www.countryflags.io/AD/flat/64.png
4,Angola,0,0,0,0,0,0,0,0,0,...,96,113,118,130,138,140,142,148,155,https://www.countryflags.io/AO/flat/64.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,Venezuela,0,0,0,0,0,0,0,0,0,...,2632,2738,2814,2879,2904,2978,3062,3150,3386,https://www.countryflags.io/VE/flat/64.png
182,Vietnam,0,2,2,2,2,2,2,2,2,...,332,332,332,333,334,334,334,334,335,https://www.countryflags.io/VN/flat/64.png
183,West Bank and Gaza,0,0,0,0,0,0,0,0,0,...,481,485,487,489,489,492,505,514,555,https://www.countryflags.io/PS/flat/64.png
185,Zambia,0,0,0,0,0,0,0,0,0,...,1200,1200,1200,1321,1357,1358,1382,1405,1412,https://www.countryflags.io/ZM/flat/64.png
186,Zimbabwe,0,0,0,0,0,0,0,0,0,...,314,320,332,343,356,383,387,391,401,https://www.countryflags.io/ZW/flat/64.png

마지막으로 flourish 페이지의 정해진 데이터 포멧으로 맞춰 주기 위해 컬럼의 순서를 바꿔보자

In [135]:
cols = covid19_confirmed.columns.tolist() 
cols.remove('iso2')
cols.insert(1,'iso2') 
covid19_confirmed = covid19_confirmed[cols]
cols[1]='Country_Flag_Image'
covid19_confirmed.columns = cols
covid19_confirmed

,Country_Region,Country_Flag_Image,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,...,6/08/2020,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020
0,Afghanistan,https://www.countryflags.io/AF/flat/64.png,0,0,0,0,0,0,0,0,...,20917,21459,22142,22890,23546,24102,24766,25527,26310,26874
1,Albania,https://www.countryflags.io/AL/flat/64.png,0,0,0,0,0,0,0,0,...,1263,1299,1341,1385,1416,1464,1521,1590,1672,1722
2,Algeria,https://www.countryflags.io/DZ/flat/64.png,0,0,0,0,0,0,0,0,...,10265,10382,10484,10589,10698,10810,10919,11031,11147,11268
3,Andorra,https://www.countryflags.io/AD/flat/64.png,0,0,0,0,0,0,0,0,...,852,852,852,852,853,853,853,853,854,854
4,Angola,https://www.countryflags.io/AO/flat/64.png,0,0,0,0,0,0,0,0,...,92,96,113,118,130,138,140,142,148,155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,Venezuela,https://www.countryflags.io/VE/flat/64.png,0,0,0,0,0,0,0,0,...,2473,2632,2738,2814,2879,2904,2978,3062,3150,3386
182,Vietnam,https://www.countryflags.io/VN/flat/64.png,0,2,2,2,2,2,2,2,...,332,332,332,332,333,334,334,334,334,335
183,West Bank and Gaza,https://www.countryflags.io/PS/flat/64.png,0,0,0,0,0,0,0,0,...,473,481,485,487,489,489,492,505,514,555
185,Zambia,https://www.countryflags.io/ZM/flat/64.png,0,0,0,0,0,0,0,0,...,1200,1200,1200,1200,1321,1357,1358,1382,1405,1412
186,Zimbabwe,https://www.countryflags.io/ZW/flat/64.png,0,0,0,0,0,0,0,0,...,287,314,320,332,343,356,383,387,391,401

마지막으로 해당 Dataframe 을 csv 파일로 저장 시키자

In [136]:
covid19_confirmed.to_csv("COVID-19-master/covid19_confirmed_File_Data.csv")

이제 https://app.flourish.studio/projects 주소로 들어가서  
New Visualisation → Bar chart Race → Data → Upload Data 를 한 뒤에 우측 Column을 알맞게 설정한 뒤  
Preview → 우측 바로 사용자 맞춤 설정 → Export & publish 

나의 결과물

[COVID19 확진자 국가별 변화 추이 01/22/2020 ~ 06/17/2020](https://public.flourish.studio/visualisation/4783794/)